.sidebar {
    background-color: #000;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.logo img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
    cursor: pointer;
}

.content {
    margin-left: 250px;
    padding: 20px;
}
